/*
    CSS Reset
*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
ul,
li,
a,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}
.card a {
  font-family: 'Montserrat', sans-serif;
}

/* Global Setting */
@font-face {
  font-family: Cocogoose;
  src: url('../assets/fonts/cocogoose/Cocogoose Pro-trial.ttf');
}

.navbar {
  z-index: 1999;
}

body,
form,
a,
#service,
.nav-item {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

pre {
  width: 100%;
}

iframe {
  width: 100% !important;
  height: 515px !important;
  box-shadow: -4px 11px 26px -4px rgba(0, 0, 0, 0.75);
}

a:hover {
  text-decoration: none;
  color: #4d90cc;
}

.pointer {
  cursor: pointer;
}

.blue-oschool {
  color: #4d90cc;
}

.bg-oschool {
  background-color: #4d90cc;
}

.green {
  color: rgb(80, 204, 47);
}

.bg-green {
  background-color: rgb(80, 204, 47);
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

h2 {
  font-size: 30px;
}

h3,
h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
  font-weight: bold;
}

/* menu */
.logo-short,
.user-avatar {
  width: 13%;
}

.bg-main{
  background-color: #1a1b20;
}

.logo {
  width: 50%;
}

.user-avatar {
  width: 50px;
}

.navbar .navbar-nav:nth-child(1) {
  width: 70%;
}

i {
  font-size: 1.5rem;
}

.dropdown-menu {
  position: absolute !important;
  left: auto;
  right: 0;
}

/* main */
.main-content {
  margin-top: 5rem;
}

.summary ul li a::before {
  content: "✅";
  color: rgb(136, 135, 255);
  display: inline-block;
  margin-right: 0.2rem;
}

.title-summary {
  width: 70%;
  padding: 9px 25px;
}

.list-summary {
  margin-top: 10px;
  margin-bottom: 10px;
}

.lecture-content p,
.lecture-content h2,
.lecture-content h3,
.lecture-content h4,
.lecture-content h5,
.lecture-content h6,
.lecture-content img,
.lecture-content iframe {
  margin: 0 0 20px;
}

.lecture-content img {
  width: 50%;
}

.lecture-content a {
  color: #4d90cc;
}

.lecture-content a:hover {
  color: red;
  text-decoration: underline;
}

.previous,
.next {
  color: rgb(107, 106, 120);
  max-width: 250px;
  margin-top: 15px;
  font-size: 13px;
}

.next-link {
  color: #4d90cc;
  border-color: #4d90cc;
}

.progression span {
  font-size: 11px;
  font-weight: 300;
}

/* curriculum */
.side-menu {
  z-index: 100;
  margin-top: 4rem;
  position: sticky;
  top: 0;
  bottom: 0;
  /*overflow-y: scroll;*/
  height: 100vh;
}

.side-menu .d-md-block,
.side-menu .d-block{
  -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.curriculum {
  overflow-y: auto;
}

.card i {
  font-size: 35px;
}


#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: none;
}

.os-hover:hover {
  position: relative;
  top: 15px;
}
/*Popup*/

.svg-delete {
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
}
.svg-delete1 {
    z-index: 30;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
}

.modal{
  background: #1a1b20;
  z-index: 9999;
}
.avatar-login-img {
    width: 90px;
    height: 90px!important;
}
.btn-shadow {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.btn-h {
    font-weight: bold;
    background: #005a8d !important;
    font-size: 18px;
    line-height: 15px;
    min-height: 55px;
}
/*end popup*/
.btn-commande {
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}
.box-shadow {
box-shadow: -1px 0px 4px 0 rgb(0 0 0 / 70%), 0px 2px 10px 0 rgb(0 0 0 / 70%);
}
/* media queries */
@media screen and (max-width: 599px) {
.dropdown .dropdown-menu {
  width: 100%;
}

  iframe {
    width: 100% !important;
    height: 315px !important;
    box-shadow: -4px 11px 26px -4px rgba(0, 0, 0, 0.75);
  }
}

@media screen and (min-width: 600px) {
  .logo-short {
    display: none;
  }
}
