/*
    CSS Reset
*/
html,
body,
h1,
h2,
h3,
h4,
h5,
input,
button,
ul,
li,
a,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
  font-family: 'Montserrat', sans-serif;

}
.card-footer a,
.card-footer p{
  font-family: 'Montserrat', sans-serif;

}
.navbar {
  z-index: 1999;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/* menu */
.logo-short,
.user-avatar {
  width: 13%;
}

.bg-main{
  background-color: #1a1b20;
}

.logo {
  width: 50%;
}

.user-avatar {
  width: 50px;
  height: 50px;
}

.navbar .navbar-nav:nth-child(1) {
  width: 70%;
}

.dropdown-menu {
  position: absolute !important;
  left: auto;
  right: 0;
}

.avatar-card {
  height: 150px;
  width: 150px;
}

.card-shadow {
  box-shadow: -1px 0px 4px 0 rgb(0 0 0 / 70%), 0px 2px 10px 0 rgb(0 0 0 / 70%);
}
/**
 * ZOOM IMAGE EFFECT ON HOVER // wpRock.fr
 */
.wprock-img-zoom-hover .wprock-img-zoom {
    overflow: hidden;
    position: relative;
}
.wprock-img-zoom-hover .wprock-img-zoom img {
    max-width: 100%;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.wprock-img-zoom-hover .wprock-img-zoom * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wprock-img-zoom-hover:hover .wprock-img-zoom img {
    -moz-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}

.popup-shadow {
  box-shadow: 0 -10px 8px 0 rgb(0 0 0 / 70%), 0px 5px 25px 0 rgb(0 0 0 / 65%);

}

.svg-delete {
  z-index: 30;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
}

.modal{
  background: #1a1b20e0;
}

.btn-h {
    font-weight: bold;
    background: #005a8d !important;
    font-size: 24px;
    line-height: 28px;
    min-height: 65px;
}

.btn-shadow {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/*Chansons*/
.left i {
  color: #fff;
  padding-right: 10px;
}

/* media queries */
@media screen and (max-width: 599px) {
  .logo {
    display: none;
  }

  .avatar-login-img {
    width: 90px;
    height: 90px!important;
  }

  .btn-h {
  font-size: 19px;
  }

}

@media screen and (min-width: 600px) {
  .logo-short {
    display: none;
  }
  .avatar-login-img {
    width:90px;
    height:90px!important;
  }
}
