body {
    font-family: 'Montserrat', sans-serif !important;
}

.avatar-size{
  width: 45px;
}

.bg-main{
  background-color: #1a1b20!important;
}

.hero {
    background: #2ebd50;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    margin-bottom: 25px;
}

.bg-hero {
  background-color: #2ebd50!important;
}

.btn-h-2 {
    font-weight: bold;
    background: #005a8d !important;
    font-size: 15px;
    line-height: 15px;
}

.btn-h {
    font-weight: bold;
    background: #005a8d !important;
    font-size: 24px;
    line-height: 28px;
    min-height: 65px;
}

.btn-shadow {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.popup-shadow {
  box-shadow: 0 -10px 8px 0 rgb(0 0 0 / 70%), 0px 5px 25px 0 rgb(0 0 0 / 65%);

}

.h-phar {
    height: 25em;
}


.box-hover:hover{
  position: relative;
  top:5px;
}

.border-top-footer {
border-top: 1px solid #232323!important;
}

.svg-delete {
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
}

.modal{
  background: #1a1b20;
}

@media (max-width: 768px){
  .h-box {
      height: 100%;
      width: 100%;
  }

  .w-21 {
      width: 100%;
  }
  .position-relative .display-4 {
    font-size: calc(100% + 1vw + 1vh)!important;
  }
  .hero {
    padding-left: 15px;
    padding-right: 15px;
  }

  .avatar-login-img {
    width: 90px;
    height: 90px!important;
  }

}

@media (min-width: 768px) {
    .hero .telephone-image {
        width: 500px;
        height: 600px;
        background: url('/assets/images/slide2.png') no-repeat center;
        background-position-x: center;
        background-size: contain;
        position: relative;
        bottom: 35px;
    }

    .hero .image {
        margin-top: 0;
    }

    .hero .wave {
        z-index: 1;
    }

    .hero .image {
        display: flex;
        justify-content: center;
        z-index: 10;
        margin-top: 20px;
    }

    .hero .cta {
        justify-content: center;
        z-index: 30;
    }

    .hero .wave {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 20;/*c'etait à 20*/
    }

    .hero .wave img {
        width: 100%;
        min-width: 1000px;
        margin-bottom: -4px;
    }

    .hero .wave .spacer {
        background: #1a1b20;
        height: 65px;
    }

    .text-responsive {
      font-size: calc(5% + 1vw + 1vh)!important;
    }

    .height-responsive {
      height: calc(100% + 10px);
    }

    .dropdown-menu {
        left: revert!important;
        right: 0;
    }

    .box-shadow {
    box-shadow: -1px 0px 4px 0 rgb(0 0 0 / 70%), 0px 2px 10px 0 rgb(0 0 0 / 70%);
    }

    .modal-content{
      width: 75%!important;
      margin: 0 auto;
    }

    .avatar-login-img {
      width:90px;
      height:90px!important;
    }

}
